/data/
/checkpoints/supervised01/
/checkpoints/simclr01/
*.pyc
/checkpoints/
/__pychache__/
/dataset_konstantinos/
/checkpoints_results/
/checkpoints_results0/
/checkpoints_results1/
/checkpoints_results2/
/checkpoints_results3/
/condor_logs/
/checkpoints_test/
/.idea/
/simclr_trainings*
./.idea/workspace.xml
